[envs.default]
dependencies = [
  "coverage[toml]>=6.2",
  "pytest",
  "pytest-cov",
  "pytest-mock",
]
[envs.default.env-vars]
# Necessary for coverage
HATCH_BUILD_CLEAN_HOOKS_AFTER = "true"
[envs.default.scripts]
cov = "pytest --cov-report=term-missing --cov-config=pyproject.toml --cov=src/hatch_showcase --cov=tests"
no-cov = "cov --no-cov"

[envs.test]
type = "container"
dev-mode = false

[[envs.test.matrix]]
python = ["37", "38", "39", "310"]

[envs.lint]
skip-install = true
dependencies = [
  "flake8~=4.0.1",
  "flake8-bugbear~=21.11.29",
  "flake8-quotes~=3.3.1",
  "black~=21.12b0",
  "isort~=5.10.1",
  "mypy==0.930",
]
[envs.lint.scripts]
typing = "mypy --install-types --non-interactive src/hatch_showcase tests"
style = [
  "flake8 .",
  "black --check --diff .",
  "isort --check-only --diff .",
]
fmt = [
  "isort .",
  "black .",
  "style",
]
all = [
  "style",
  "typing",
]
